/* Container styles */
.parent{
    background-color: #80CAFF12;
    padding-top: 2rem;
    padding-bottom: 1.4rem;
    margin: 2rem 0;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    
}
  
  /* Inner container styles */
  .innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
  
  /* Title styles */
  .title {
    font-size: 1.875rem; /* 3xl in Tailwind */
    font-weight: 600; /* Semi-bold */
  }
  
  .titleHighlight {
    font-weight: 800; /* Extra-bold */
    color: #216FB9;
  }
  
  @media (min-width: 1024px) { 
    .cardsContainer {
      display: flex; 
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 1rem 0;
    }
  }

  
  /* Card styles */
  .card {
    background-color: white;
    border: 1px solid #e5e7eb; 
    border-radius: 0.5rem; 
    transition: transform 0.2s, box-shadow 0.2s;
    padding: 1rem;
    box-shadow: 0 10px 15px -3px rgba(33, 111, 185, 0.2);
    margin: 1.4rem 1rem 0 1rem;
  }
  
  @media (min-width : 1024px){
    .card{
      box-shadow: none;
      width: 22rem;
      height: 26.5rem;
    }
    .card:hover {
      transform: translateY(-5px); 
      box-shadow: 0 25px 50px -12px rgba(33, 111, 185, 0.3);
    }
  }

 
  
  /* Card image container styles */
  .cardImageContainer {
    padding: 1rem;
    border-radius: 0.5rem;
  }
  
  /* Card image styles */
  .cardImage {
    width: 280px;
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  
  /* Card title styles */
  .cardTitle {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  /* Card price container styles */
  .cardPriceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .currentPrice {
    color: #216FB9;
    font-weight: bold;
    font-size: 1.25rem;
  }
  
  .previousPrice {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: line-through;
  }
  
  /* Buy button styles */
  .buyButton {
    padding: 0.5rem 1rem;
    background-color: #216FB9;
    border-radius: 1.5rem;
    color: white;
  }
  

  /* View all button styles */
    .viewAllButton {
    border: none;
    border-radius: 1.5rem;
    background-color: #216FB9;
    padding: 0.5rem 1rem;
    color: white;
    margin-top: 2rem;
  }
  
  .viewAllButtonContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
